.banner {
    --bannerImageOffset: 24px;

    margin-top: 100px;
    padding-block: var(--bannerImageOffset);

    &__inner {
        display: flex;
        justify-content: space-between;
        border-radius: var(--border-block-radius);
        height: 347px;
        background: var(--color-grey);
    }

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: 26px;
        padding: 60px;
    }

    &__description {
        max-width: 500px;
    }

    &__button {
        width: 288px;
    }

    &__image {
        margin-block: calc(var(--bannerImageOffset) * -1);
        align-self: center;
    }
}