.banner {
    --bannerImageOffset: 24px;

    margin-top: 100px;
    padding-block: var(--bannerImageOffset);
    overflow: hidden;

    @include tablet {
        margin-top: 70px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        border-radius: var(--border-block-radius);
        background-color: var(--color-grey);

        @include tablet {
            height: 370px;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: 26px;
        padding: 60px;

        @include mobile {
            row-gap: 20px;
            padding: 40px;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }

    &__description {
        max-width: 500px;
    }

    &__button {
        width: 290px;
    }

    &__image {
        margin-block: calc(var(--bannerImageOffset) * -1);
        align-self: center;

        @include tablet {
            margin-right: -80px;
            width: 360px;
            height: auto;
        }
        
        @include mobile {
            @include visually-hidden;
        }
    }
}