.burger-menu {
    height: 100%;
    width: 100%;
    margin: 0;
    border: none;
    padding: 40px 30px;

    &:modal {
        max-width: 100%;
        max-height: 100%;
    }

    &__body {
       display: flex;
       margin-top: 100px;
       flex-direction: column;
       align-items: center;
       row-gap: 30px;
    }

    &__form-close {
        display: flex;
        justify-content: end;
    }

    &__close-button {
        @include reset-button;
        @include square(20px);
        &:focus {
            outline: none !important;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }

}