.button {

    border-radius: var(--border-button-radius);
    border: none;
    padding: var(--button-padding);
    background-color: var(--color-dark);
    color: var(--color-white);
    height: var(--button-height);
    transition-duration: var(--transition-duration);
    font-size: 20px;

    &:hover {
        background-color: var(--color-green);
        color: var(--color-dark);
    }

}