.button {

    border-radius: var(--border-button-radius);
    border: none;
    @include flex-center;
    background-color: var(--color-dark);
    color: var(--color-white);
    height: var(--button-height);
    transition-duration: var(--transition-duration);
    font-size: 20px;
    cursor: pointer;
    @include hover {
        &:hover {
            background-color: var(--color-green);
            color: var(--color-dark);
        }
    }

}