.footer {
    padding-top: var(--section-padding);

    &__body {
        border-radius: var(--border-block-radius) var(--border-block-radius) 0 0;
        padding: 55px 60px 50px 60px;
        background-color: var(--color-dark);
        color: var(--color-white);

        @include tablet {
            border-radius: 0px;
            margin-inline: -20px;
            padding: 50px 20px 30px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 37px;
        }
    }
    
    &__logo {
        img {
            @include mobile {
                width: 144px;
                height: auto;
            }
        }
    }

    &__header {
        @include flex-center;
        column-gap: 155px;

        @include desktop {
            column-gap: 50px;
        }

        @include tablet {
            display: contents;
        }
    }

    &__menu {
        &-list {
            display: flex;
            column-gap: 40px;

            @include desktop {
                column-gap: 20px;
            }

            @include tablet {
                @include flex-center;
                flex-direction: column;
                row-gap: 15px;
            }
        }

        &-link {
            position: relative;
            transition-duration: var(--transition-duration);

            @include hover {
                &::after {
                    width: 100%;
                }
            }

            &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                translate: -50%;
                width: 0;
                height: 2px;
                background-color: currentColor;
                transition-duration: inherit;
            }
        }
    }

    &__links {
        display: flex;
        column-gap: 20px;
        order: 1;
    }

    &__link {
        transition-duration: var(--transition-duration);

        @include hover {
            opacity: 0.7;
        }
    }

    &__main {
        display: flex;
        padding-top: 66px;
        column-gap: 154px;
        align-items: center;
        padding-bottom: 50px;
        border-bottom: 1px solid var(--color-white);

        @include desktop {
            column-gap: 0px;
            justify-content: space-between;
        }

        @include tablet {
            @include flex-center;
            flex-direction: column;
            row-gap: 37px;
            padding: 0;
            border-bottom: none;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        @include tablet {
            row-gap: 37px;
            align-items: center;
        }

        &-title {
            color: var(--color-black);
            max-width: 128px;

            @include tablet {
                max-width: 115px;
            }
        }

        &-address {
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            @include tablet {
                row-gap: 15px;
                p {
                   text-align: center;
                }
            }
        }
    }

    &__form {
        padding: 58px 40px;
        border-radius: var(--border-button-radius);
        background-color: #292a32;
        display: flex;
        column-gap: 20px;

        @include tablet {
            flex-direction: column;
            width: 390px;
            padding: 30px;
            row-gap: 20px;
        }

        &-input {
            border: 1px solid var(--color-white);
            border-radius: var(--border-button-radius);
            padding: 22px 35px;
            width: 285px;
            background-color: transparent;
            color: var(--color-white);

            &::placeholder {
                color: var(--color-white);
            }

            @include tablet {
                width: 100%;
            }
        }

        &-button {
            background-color: var(--color-green);
            color: var(--color-black);
            width: 249px;

            @include hover {
                background-color: var(--color-black);
                color: var(--color-green);
            }

            @include tablet {
                width: 100%;
            }
        }
    }

    &__extra {
        padding-top: 50px;
        display: flex;
        column-gap: 40px;
        order: 2;

        @include tablet {
            flex-direction: column;
            text-align: center;
            row-gap: 15px;
            padding-top: 37px;
            border-top: 1px solid var(--color-white);
            width: 100%;
        }
    }
    
}