.header {
    padding-top: 60px;

    @include tablet {
        padding-top: 30px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        svg {
            @include tablet {
                max-width: 144px;
            }
        }
    }

    &__menu {
        display: flex;
        column-gap: var(--main-gap);
        align-items: center;
        @include fluid-text(20, 16);

        @include tablet {
            column-gap: 20px;
        }

        &-link {
            position: relative;
            transition-duration: var(--transition-duration);

            @include hover {
                &::after {
                    width: 100%;
                }
            }

            &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                translate: -50%;
                width: 0;
                height: 2px;
                background-color: currentColor;
                transition-duration: inherit;
            }
        }

        &-list {
            display: flex;
            column-gap: var(--main-gap);
            
            @include desktop {
                column-gap: 20px;
            }
        }

        &-button {
            background-color: transparent;
            color: var(--color-black);
            border: var(--border);
            width: 231px;
            
            @include desktop {
                height: 60px;
                width: 200px;
                font-size: 18px;
            } 

            @include tablet {
                height: 46px;
                width: 170px;
                font-size: 16px;
            }
        }
    }

}

.burger-button {
    @include reset-button;
    @include square(40px);
    position: relative;

    &::after {
        @include abs-center;
        content: '';
        position: absolute;
        width: 50%;
        height: 2px;
        background-color: var(--color-dark);
        border-radius: 5px;
        box-shadow: 0px -8px var(--color-dark), 0px 8px var(--color-dark);
    }
}