.landing {
    &__main {
        display: flex;
        justify-content: space-between;

        @include tablet {
            flex-direction: column;
            align-items: center;
            row-gap: 30px;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: 35px;
        max-width: 531px;

        @include desktop {
            max-width: 450px;
        }

        @include tablet {
            display: contents;
        }
    }

    &__title {
        @include tablet {
            order: -2;
        }
    }

    &__description {
        p {
            max-width: 498px;
            line-height: 140%;
            @include fluid-text(20, 16);
        }
    }

    &__button {
        width: 264px;

        @include tablet {
            width: 390px;
        }
        
        @include mobile-s {
            width: 340px;
        }
    }

    &__partners {
        margin-top: 70px;
        &-list {
            display: flex;
            justify-content: space-between;
            @include tablet {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                row-gap: 20px;
                margin-inline: -20px;
            }
        }

        &-item {
            filter: saturate(0%);
            display: flex;
            justify-content: center;
            @include mobile {
                min-width: 140px;
            }
        } 
        @include mobile-s {
            @include visually-hidden;
        }   
    }

    &__image {
        @include desktop {
            width: 510px;
            height: auto;
        }

        @include tablet {
            order: -1;
        }

        @include mobile {
            width: 360px;
            height: auto;
        }
    }
    
}