.modal {
    border-radius: var(--border-block-radius);
    border: none;
    padding: 0;
    &:modal {
        width: 600px;
        height: 300px;
        @include flex-center;
        flex-direction: column;
        row-gap: 50px; 
        @include mobile-s {
            height: 200px;
            row-gap: 30px;
        }
    }

    &__button {
        width: 300px;
        &:focus {
            outline: none !important;
        }
        @include mobile-s {
            width: 280px;
        }
    }
    &__message {
        @include mobile-s {
            font-size: 22px;
        }
    }
    &::backdrop {
        background-color: rgba(0, 0, 0, .5);
    }
}