.process {

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        counter-reset: custom-counter;
        list-style: none;
    }

    &__item {
        counter-increment: custom-counter;
    }

    &__accordion {
        --stickRotate: 90deg;

        background-color: var(--color-grey);
        border: var(--border);
        border-radius: var(--border-block-radius);
        box-shadow: var(--shadow);
        padding: 40px 60px;
        transition-duration: var(--transition-duration);
        @include mobile {
            padding: 30px;
        }
        @include hover {
            background-color: var(--color-green);
        }

        &[open] {
            background-color: var(--color-green);
            transition-duration: var(--transition-duration);
            --stickRotate: 0deg;
        }

        &-header {
            cursor: pointer;
            user-select: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // @include mobile {
            //     max-width: 360px;
            // }
        }
        
        &-title {
            display: flex;
            align-items: center;
            column-gap: 25px;
            @include mobile {
                font-size: 18px;
            }
            &::before {
                content: '0' counter(custom-counter);
                font-size: 2em;
            }
        }
        &-body {
            @include mobile {
                font-size: 12px;
            }
        }

        &-icon {
            width: 58px;
            height: 58px;
            border-radius: 50%;
            background-color: var(--color-white);
            border: 1px solid var(--color-dark);
            position: relative;
            flex-shrink: 0;
            @include mobile {
                width: 30px;
                height: 30px;
            }
            &::before,
            &::after {
                @include abs-center;

                content: '';
                width: 45%;
                height: 12%;
                background-color: var(--color-dark);
            }

            &::after {
                rotate: var(--stickRotate);
                transition-duration: var(--transition-duration);
            }
        }

        &-body {
            margin-top: 30px;
            padding-top: 30px;
            border-top: 1px solid var(--color-dark);
            height: 90px;
        }
    }
}