.services {
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--main-gap);

        @include desktop {
            justify-content: center;
        }
    }

    &__item {

        width: 600px;
        height: 310px;
        border: var(--border);
        border-radius: var(--border-block-radius);
        padding: 50px;
        box-shadow: var(--shadow);
        display: flex;
        justify-content: space-between;

        @include desktop {
            width: 470px;
        }

        @include tablet {
            width: 100%;
        }

        @include mobile-s {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        &__body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include mobile-s {
                display: contents;
            }
        }

        &__image {
            align-self: center;

            @include desktop {
                width: 170px;
                height: auto;
            }
        }

        &__link {
            display: flex;
            column-gap: 15px;
            align-items: center;
            transition-duration: var(--transition-duration);
            font-size: 20px;

            @include hover {
                scale: 1.05;
            }

            &-text {
                @include mobile-s {
                    @include visually-hidden;
                }
            }

            @include mobile-s {
                align-self: end;
            }
        }

        &__title {
            @include mobile-s {
                grid-column: 1 / 3;
            }
        }
    }
}

.link-white {
    color: var(--color-white);
}
