.team {
    display: flex;
    flex-direction: column;
    row-gap: var(--main-gap);

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;

        @include mobile {
            gap: 30px;
        }
    }

    &__item {
        width: 386px;
        border: var(--border);
        border-radius: var(--border-block-radius);
        padding: 40px 35px;
        box-shadow: var(--shadow);
    }

    &-card {
        display: flex;
        flex-direction: column;
        height: 100%;

        &__header {
            display: flex;
            column-gap: 20px;
            padding-bottom: 28px;
        }

        &__body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
        }
        
        &__link {
            display: flex;
            justify-content: end;
            align-items: start;
            cursor:default;
            &-image {
                cursor:pointer;
                @include hover {
                    opacity: 0.7;
                }
            }
        }

        &__description {
            padding-top: 28px;
            border-top: 1px solid var(--color-black);
        }
    }

    &__button {
        align-self: end;
        width: 269px;
        
        @include mobile {
            width: 390px;
            align-self: center;
        }
    }
}