@mixin fluid-text($max, $min) {
    font-size: clamp(#{$min}px, #{calc($max / 1440) * 100}vw, #{$max}px); //высчитывает размер текста относительно контейнера

}

@mixin reset-button {
    padding: 0;
    background-color: transparent;
    border: none;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin abs-center{
    //центрирует относительно родителя
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}