.container {
    max-width: calc(var(--container-width) + var(--container-padding) * 2);
    margin-inline: auto;
    padding-inline: var(--container-padding);
}

.visually-hidden {
    @include visually-hidden;
}

.mobile-hidden {
    @include mobile {
        display: none !important;
    }
}

.mobile-visible {
    @include mobile-above {
        display: none !important;
    }
}